* { margin:0; padding:0; box-sizing:border-box; }

body {
    background: #00e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Tahoma, Arial;
    direction: rtl;
}

.KelidHayMashinHesab {
    background: #0cc6ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 1, 242, 0.8);
}

.screen{
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 15px;
    min-height: 70px;
}

.KelidHa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 20px;
    font-size: 20px;
    background: #ff6600;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.Javab {
    background: rgb(255, 153, 0) !important;
    grid-column: 1 / 5;
}

button:nth-child(29) { background: #666; } 